@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.nav {
  height: 6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .navbar .logo {
  font-size: 2rem;
  font-weight: 600;
}

.nav .navbar .nav-items .nav-item {
  font-size: 1.6rem;
  font-weight: 500;
}

section.home {
  overflow: auto;
  padding: 3vh 7.5vw 0;
  height: calc(100vh-6rem);
  background-color: rgba(0, 0, 0, 0.05);
}

section.home .section-title {
  font-size: 2.8rem;
  font-weight: 600;
}

section.home .add-task-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.home .section-description {
  width: 40%;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

section.home .task-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-container {
  padding: 2rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.task-container .task-container-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.task-card {
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
}

.task-card:hover {
  -webkit-box-shadow: 0 0.2rem 1.6rem 0.3rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.2rem 1.6rem 0.3rem rgba(0, 0, 0, 0.12);
}

.task-card .icons-area {
  position: absolute;
  top: 4px;
  right: 4px;
}

.task-card .icons-area .material-icons {
  margin-left: 4px;
}

.task-card .task-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-card .task-header .tag-chip {
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #000;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
}

.task-card .task-title {
  margin-top: 1.6rem;
  font-size: 1.8rem;
  font-weight: 600;
}

/*dialog*/
.dialog {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.04);
}

.dialog .card {
  background: #fff;
  z-index: 1;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.2rem 1.6rem 0.3rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.2rem 1.6rem 0.3rem rgba(0, 0, 0, 0.12);
}

.slideTop {
  -webkit-animation: slidTop .3s ease-in-out;
          animation: slidTop .3s ease-in-out;
}

@-webkit-keyframes slideTop {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideTop {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.add-task-form {
  width: 40rem;
  height: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-task-form .form-title {
  font-size: 2rem;
  font-weight: 600;
}

.add-task-form .form-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .8rem 0;
}

.add-task-form .form-input {
  margin-top: .4rem;
  margin-bottom: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .4rem .8rem;
  border-radius: .4rem;
}

.add-task-form .form-input label {
  font-size: 1rem;
  font-weight: 600;
}

.add-task-form .form-input input, .add-task-form .form-input select {
  border: none;
}

.add-task-form .form-input input:focus, .add-task-form .form-input input:active, .add-task-form .form-input select:focus, .add-task-form .form-input select:active {
  outline: none;
}

.add-task-form .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn {
  padding: .8rem 1.6rem;
  border: none;
  border-radius: .4rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn.primary {
  background: coral;
  color: #fff;
}

.btn.primary.outline {
  background: #fff;
  color: coral;
  border: 0.1rem solid coral;
}

.btn:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
/*# sourceMappingURL=App.css.map */