@import '_Color';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding:0;
  box-shadow: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.container{
  width: 85%;
  margin: 0 auto;
}
.two-lines{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.one-line{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}


//Navbar
.nav{
  height: 6rem;
  background-color:$white;
  display: flex;
  align-items: center;
  & .navbar{
    display: flex;
    justify-content: space-between;
    & .logo{
      font-size: 2rem;
      font-weight: 600;
    }
    & .nav-items{
      & .nav-item{
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}
//home
section.home{
  overflow: auto;
  padding: 3vh 7.5vw 0;
  height: calc(100vh-6rem);
  background-color: rgba(0, 0 ,0 ,.05);
  & .section-title{
    font-size: 2.8rem;
    font-weight: 600;
  }
  & .add-task-btn{
    display: flex;
    justify-content: flex-end;
  }
  .section-description{
    width: 40%;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
  & .task-content{
    display: flex;
  }
}
.task-container{
  padding: 2rem 1rem;
  flex: 1;
  & .task-container-title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
.task-card{
  padding: 1rem;
  background: $white;
  border-radius: 1rem;
  transition: .3s;
  cursor: pointer;
  margin-bottom:1rem;
  position: relative;
  &:hover{
    box-shadow: 0 .2rem 1.6rem .3rem rgba(0,0,0,0.12);
  }
  & .icons-area{
    position: absolute;
    top:4px;
    right:4px;
    .material-icons{
        margin-left:4px;
    }
}
   & .task-header{
    display: flex;
    & .tag-chip{
      font-size: 1.4rem;
      font-weight: 500;
      background-color: $black;
      padding: 1rem;
      border-radius: 1rem;
      color: $white;
     }
  }
   & .task-title{
      margin-top:1.6rem;
      font-size: 1.8rem;
      font-weight:600;
  }
}

/*dialog*/@at-root
.dialog{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  & .backdrop{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0 ,0 ,.04);
  }
  & .card{
    background: $white;
    z-index: 1;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 .2rem 1.6rem .3rem rgba(0,0,0,0.12);
  }
}
.slideTop{
  animation: slidTop .3s ease-in-out;
}
@keyframes slideTop {
  from{
    transform: translateY(-100%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}


.add-task-form{
  width: 40rem;
  height: 38rem;
  display: flex;
  flex-direction: column;
  & .form-title{
    font-size:2rem;
    font-weight: 600;
  }
  & .form-content{
      flex:1;
      padding:.8rem 0;
  }
  & .form-input{
    margin-top:.4rem;
    margin-bottom:.8rem;
    display: flex;
    flex-direction: column;
    border:1px solid rgba(0,0,0,0.2);
    padding:.4rem .8rem;
    border-radius: .4rem;
    & label{
        font-size:1rem;
        font-weight: 600;
    }
    & input,& select{
        border:none;
        &:focus,&:active{
            outline:none;
        }
    }
  }
  & .btn-area{
    display: flex;
    justify-content: flex-end;
}
}

.btn{
  padding:.8rem 1.6rem;
  border:none;
  border-radius: .4rem;
  transition: .3s;
  cursor: pointer;
  margin:.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  &.primary{
      background:$coral;
      color:$white;
      &.outline{
          background:$white;
          color:$coral;
          border:.1rem solid $coral;
      }
  }
  &:hover{
      filter:brightness(.8);
  }
}